*{
    font-family: Roboto;
    margin:0;
    padding:0;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    text-align: center;
    background: url(../background.jpeg) no-repeat center / cover;
}
#title{
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    font-size: 1.2em;
    background-color: rgb(48,48,48);
    width:40%;
    padding:5px;
    margin:20px auto;
    opacity: 50%;
}
#text{

    padding: 2em;
    border-radius: 20px;
    background-color: white;
    border: 5px black solid;
    font-size: 1.5rem;
    box-shadow: 0 0 10px;
    line-height: 1.5;
}
#texts{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    color: chocolate;
}
#change{
    margin:10px;
    font-size: 2em;
    border-radius: 5px;
    background-color: rgb(48, 48, 48);
    color:white;
}
#timeslot{
    display: inline-flex;
    font-size: 4rem;
    justify-content: space-between;
}
#hrs , #mins , #secs{
    width:1.5em;
    margin-left:2.5%;
    font-size: 4rem;
    border: none;
    
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
#buttons{
    margin:2%;
    padding:3%;
    display: flex;
    justify-content: space-evenly;
}
#buttons button{
    width:30%;
    height: 3rem;
    box-shadow: 5px 5px 15px;
    background-color: gray;
}
#buttons button:hover{
    background-color: rgb(194, 194, 194);
}

#buttons i{
    font-size:1.7rem;
}