@font-face{
    src: url(../fonts/BebasNeue-Regular.ttf);
    font-family: Bebas;
}
header{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
    height: max-content;
    border:px solid rgb(255, 0, 0);
    background-color: #000120;
    font-family: Bebas;
    border-style: ridge;
}
#nvbar{
    display: flex;
    column-gap: 2em;
    font-size: 44px;
}
#logbar{
    display: flex;
    column-gap: 3.35em;
    font-size: 32px;
}
#logo{
    width: 120px;
}
#cart{
    border-radius: 1.3em;
    width: 60px;
    padding-right:2em;
}
header a{
    text-shadow: 3px 3px 6px rgb(0, 0, 0);
    color: aliceblue;
    text-decoration: none;
}
header a:hover{
    color: rgb(77, 77, 77);
}
main{
    display: flex;
    padding-left: 10em;
    padding-top: 5em;
    background-image: url(../images/background-main.jpg);
    height: 500px;
    width: auto;
    color: #000120;
    font-size: 1.1em;
    font-family: Bebas;
}
main h1::first-letter{
    font-size: 1.4em;
}
footer{
    background-color: #000120;
    color: aliceblue;
    font-family: Bebas;
    padding-top: 1em;
}
footer a{
    text-decoration: none;
}
#reg_form label{
    font-size: 1.2em;
    

}
#reg_form input{
    border-radius: 2em;
}
.buttonz:hover{
    background-color: rgb(67, 78, 78);
}
.buttonz{
    border-radius: 1em;
    box-shadow:3px 3px 1px #000120;
}